/* App.css */

body {
  background-color: #303030;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
  position: relative;
}

h1 {
  color: #fa9025;
  text-shadow: 0 0 3px #FFFFFF, 0 0 5px #FFFFFF;
  font-size: 5em;
}

p {
  margin: 10px 0;
}

button {
  background-color: #fa9025;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
}

button:hover {
  background-color: #e86d00;
}

button:disabled {
  background-color: #777;
  cursor: not-allowed;
}

/* Positioning the score and difficulty in the top right corner */
.score-and-difficulty {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.score-and-difficulty p {
  margin: 5px 0;
  font-size: 1.5em;
  color: #fa9025;
  text-shadow: 0 0 0.5px #FFFFFF, 0 0 0.5px #FFFFFF;
}
